/*===VARIABLES===*/
:root{
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}
/*===GENERAL===*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;    
    flex-direction: column;
    align-items: center;
    background: var(--light-gray);
}
/*===MAIN==*/
.main-container{
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}
.text-grayfish-blue{
    color: var(--grayish-blue);
}
/*===COMMENT-SECTION===*/
.comment,
.reply-comment{
    background: var(--white);
    height: max-content;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.comment{
    width: 100%;
}
.comment-header{
    width: 100%;
    display: flex;
    align-items: center;
}
.comment-content{
    width: 100%;   
    margin-top: 1rem;
    line-height: 1.4rem;
}
/*===PROFILE-SECTION===*/
.profile-name{
    font-weight: bolder;
    margin: 0 1rem;
}
.profile-picture{
    width: 40px;
}
/*===PROFILE-FOOTER===*/
.comment-footer{
    width: 100%;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    background: var(--light-gray);
    padding: 10px;
    width: 80px;
    border-radius: 10px;
}
.comment-rate{
    color: var(--moderate-blue);
    font-weight: bolder;
}
.plus-icon,
.minus-icon{
    width: 10px; 
    cursor: pointer;
}
.replay-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    cursor: pointer;
}
.replay-icon{
    width: 1rem;
    height: 1rem;
}
.replay-button p{
    text-transform: capitalize;
    font-weight: 500;
    color: var(--moderate-blue);
}
.replay-comment-container{
    display: flex;
    flex-direction: column;
    border-left: 2px solid lightgray;
}
.reply-comment{
    width: 95%;
    align-self: flex-end;
}
.mentioned-user{
    color: var(--moderate-blue);
}
/*===FOOTER===*/
footer{
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    max-width: 800px;

}
.footer-container{
    width: 100%;
    padding: 1rem;
    background: var(--white);
    border-radius: .5rem;
}
footer input{
    width: 100%;
    padding-bottom: 70px;
    /* height: 100px; */
    border-radius: .5rem;
    border: 1px solid lightgray;
}
footer input[type='text']{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.send-button{
    width: 80px;
    border: none;
    border-radius: .5rem;
    color: white;
    background: var(--moderate-blue);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}
.send-button:hover{
    opacity: .8;
}
