/*===VARIABLES===*/
:root{
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}
/*===GENERAL===*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    display: flex;    
    flex-direction: column;
    align-items: center;
    background: var(--light-gray);
}
/*===MAIN==*/
main{
    
}
.main-container{
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}
.text-grayfish-blue{
    color: var(--grayish-blue);
}
/*===COMMENT-SECTION===*/
.comment,
.reply-comment{
    background: var(--white);
    height: max-content;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.comment{
    width: 100%;
}
.comment-header{
    width: 100%;
    display: flex;
    align-items: center;
}
.comment-content{
    width: 100%;   
    margin-top: 1rem;
    line-height: 1.4rem;
}
/*===PROFILE-SECTION===*/
.profile-name{
    font-weight: bolder;
    margin: 0 1rem;
}
.profile-picture{
    width: 40px;
}
/*===PROFILE-FOOTER===*/
.comment-footer{
    width: 100%;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    background: var(--light-gray);
    padding: 10px;
    width: 80px;
    border-radius: 10px;
}
.comment-rate{
    color: var(--moderate-blue);
    font-weight: bolder;
}
.plus-icon,
.minus-icon{
    width: 10px; 
    cursor: pointer;
}
.replay-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    cursor: pointer;
}
.replay-icon{
    width: 1rem;
    height: 1rem;
}
.replay-button p{
    text-transform: capitalize;
    font-weight: 500;
    color: var(--moderate-blue);
}
.replay-comment-container{
    display: flex;
    flex-direction: column;
    border-left: 2px solid lightgray;
}
.reply-comment{
    width: 95%;
    align-self: flex-end;
}
.mentioned-user{
    color: var(--moderate-blue);
}
.delete-and-edit{
    display: flex;
    align-items: center;
}
.delete-and-edit img{
    width: 1rem;
    height: 1rem;
}
.delete-and-edit p{
    text-transform: capitalize;
    cursor: pointer;
}
.text-delete{
    color: var(--soft-red);
}
.text-delete{
    margin: 0 1.5rem 0 .3rem;
}
.text-edit{
    margin-left: .3rem;
}
.text-delete:hover{
    opacity: 0.6;
}
.text-edit:hover{
    opacity: 0.6;
}
.my-comment::after{
    content: 'you';
    background: var(--moderate-blue);
    color: var(--white);
    padding: 5px;
    font-size: .8rem;
    border-radius: 5px;
    position: relative;
    left: 5px;
}
.replay-container{
    border-left: 2px solid lightgray;
}
.comment-replay-container{
    border-left: 2px solid lightgray;
    width: 100%;
    align-self: flex-end;
}
main footer{
    padding: 0 0 0 1rem;
}
.replay-center{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
/*===EDIT-COMMENT===*/
.edit-input{
    width: 100%;
    border-radius: .5rem;
    border: 1px solid lightgray;
}
.edit-input[type='text']{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
    padding-bottom: 70px;
}
main .send-button{
   height: 40px;
}
/*===MODAL===*/
.modal-delete{
    width: 90%;
    max-width: 400px;
    background: var(--white);
    position: fixed;
    z-index: 10;
    padding: 1rem;
    border-radius: .5rem;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
    transition: all 0.5s;
}
.modal-background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
}
.modal-delete h1{
    font-size: 1.2rem;
    padding: 10px 0;
}
.modal-buttons{
    width: 100%;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.modal-buttons button{
    width: 45%;
    height: 40px;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bolder;
}
.modal-buttons button:hover{
    opacity: .8;
}
.modal-delete-button{
    background-color: var(--soft-red);
}
.modal-cancel-button{
    background: rgb(110, 110, 110);
}
.modal-delete.active{
    display: block;
}
.modal-background.active{
    z-index: 9;
    opacity: 1;
}
body.active{
    overflow: hidden;
}
/*===FOOTER===*/
footer{
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
    max-width: 800px;
}
.footer-container{
    width: 100%;
    padding: 1rem;
    background: var(--white);
    border-radius: .5rem;
}
footer input{
    width: 100%;
    padding-bottom: 70px;
    border-radius: .5rem;
    border: 1px solid lightgray;
}
footer input[type='text']{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.send-button{
    width: 80px;
    border: none;
    border-radius: .5rem;
    color: white;
    background: var(--moderate-blue);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}
.send-button:hover{
    opacity: .8;
}
